body {
  font-family:"irish grover", sans-serif;
  height: 100%;
  display: flex; /* Permite usar flexbox para centrar el contenido */
  flex-direction: column; /* Organiza los elementos en columna */
  overflow: hidden;
  background: url(../img/FondoSoluginama.png) no-repeat fixed;
  background-size: cover;
}

/* Contenedor principal */
.carrito-container {
  background-color: #d6f3ff;
  border-radius: 25px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 80%;
  margin: 0 auto;
}

.titulo {
  font-size: 40px;
  margin-bottom: 30px;
}

/* Producto */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffffb3;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.cart-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
}

.item-info {
  flex-grow: 1;
  padding: 0 20px;
}

.item-info h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.item-info p {
  font-size: 20px;
  margin: 5px 0;
}

.item-actions {
  text-align: right;
}

.item-actions input {
  width: 70px;
  font-size: 18px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.item-actions p {
  font-size: 18px;
}

/* Total */
.total {
  font-size: 22px;
}

/* Botones */
.botones {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

button {
  font-family: 'Irish Grover', cursive;
  font-size: 22px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 4px 0 rgba(0,0,0,0.3);
}

.seguir {
  background: #d6d3cd;
}

.finalizar {
  background: #181717;
  color: #fff;
}

hr {
  border-top: 1px solid #888;
  margin: 25px 0;
}
