/* ===========================
   ESTILOS GENERALES DEL SITIO
   =========================== */

/* Tipografía común */
body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:"irish grover", sans-serif;

}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #81C3D7;
  background: url('../img/cover_back.png');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Encabezado / Navbar */
.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-brand{
  width: 60%;
  font-weight: bold;
}

/* Links generales */
a {
  text-decoration: none;
  color: inherit;
}

/* Botones base */
.btn {
  border: 0;
  padding: 15px;
  margin-top: 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}

footer{
  background-color: #ffffff;
}
<<<<<<< HEAD
=======
#usuario {
  position: relative;
  border-radius: 2000px;
  color:#000000;
  font-family: 'Inter', sans-serif;
  font-size: 24px;  
  font-weight:200;
  padding-left: 55px;
  background: url(../img/useruser.jpg)  no-repeat 10px center;
  background-size: 33px;
  background-color: #E8F5F4;    /* celestito */
  box-shadow: 0 4px 6px rgba(0,0,0,0.15); /* sombra gris */
  transition: all 0.3s ease;    /* animación suave */
  
}
#contrasena {
  color:#000000;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;  
  font-weight:200;
  padding-left: 55px;
  background:url(../img/candadologin.png)  no-repeat 10px center;
  background-size: 28px;
  background-color: #E8F5F4;    /* celestito */
  box-shadow: 0 4px 6px rgba(0,0,0,0.15); /* sombra gris */
  transition: all 0.3s ease;    /* animación suave */
  position: relative;
  z-index: 1;                     /* botón arriba de la mano */
  }

.logo-video {
  background-color: rgb(57, 99, 141);
  position: relative;
  width: 310px;
  height: auto;
  display: block;
  border-radius: 2000px;
 margin: -70px auto 8px;  /* 👈 el primer valor (top) lo sube */
}

#btnIngresar {
  position: relative;
  border-radius: 2000px;
  font-family: "alike", sans-serif;
  font-size: 44px;
  font-weight: 400;           
  color:rgb(250, 245, 245);
  font-family:"alike", sans-serif;
  font-size: 44px;  
  font-weight: 400;
  z-index: 1;                     /* botón arriba de la mano */
}

.hand {
  position: fixed;
  left: 50%;                         /* centrada horizontal */
  bottom: 0;                         /* nace desde abajo */
  transform: translateX(-50%) rotate(0deg); 
  width: 1050px;                      /* ajustá tamaño según lo necesites */
  height: auto;
  z-index: 0;                        /* por detrás del botón */
  pointer-events: none;              /* no bloquea clicks */
}

html, body {
  margin: 0;       /* quita márgenes por defecto */
  padding: 0;
  height: 100%;    /* asegura que ocupen todo */

}

p {
  position: relative;
  z-index: 1;          
}

  /* Barra superior contra los bordes */
        .navbar {
            background: linear-gradient(135deg, #889499, #1a2530);
            color: white;
            padding: 1rem 2rem;
            width: 100%;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            position: sticky;
            top: 0;
            z-index: 100;
        }

/* Contenedor principal autos */
.contenedor {
    flex: 1;               /* todas ocupan mismo espacio */
    min-width: 100px;     /* ancho min */
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Tarjetas */
.tarjeta {
    display: flex;
    flex-direction: row;  /* imagen + texto en fila */
    text-align: justify;
    justify-content: left;
    background-color: rgba(141, 191, 224, 0.521);
    padding: 20px;
    margin: 15px 0;
    border-radius: 44px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
    min-height: 360px;
    max-height: 370px;
}

.tarjeta:hover {
    transform: scale(1.02);
}

/* Imagen */
.tarjeta img {
   width: 400px;
   height: auto;  
    
}

/* Texto */
.tarjeta h2 {
    margin: 3%;
    font-size: 3em;
    color: #ffffff;
    font-family: "irish grover", sans-serif;
}


.tarjeta p {
    margin: 3%;
    margin-bottom: 0%;
    margin-top: 1%;
}

.descr {
    margin: 10px 0;
    font-size: 2em;
    color: #ffffff;
    font-family: "judson", sans-serif;
}

/* Precio */
.precio  {
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
    font-family: "inter", sans-serif;
}

/* Vendidos */
.vendidos {
    font-size: 1,4em;
    color: #ffffff;
    font-family: "inter", sans-serif;
font-weight: semi bold;
}

body {
  background-color: rgb(57, 99, 141);
}

>>>>>>> dfc1e8a91613c2a9b4a4d3bc7b9ef8f46470370f
